$border-color: #B1E9E1;

.schedule-days {
  display: grid;
  grid-template-columns: 50px repeat(7, 3fr);

  > *:not(:first-child) {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid $border-color;
    border-left: 1px solid $border-color;
  }

  > *:last-child {
    border-right: 1px solid $border-color;
  }

  .day {
    text-transform: capitalize;
  }
}