$border-color: #B1E9E1;

.schedule {
  .calendar{
    display: grid;
    grid-template-rows: 50px;
    height: 100vh;
    color: #415E59;
  
    .board {
      display: flex;
      border: 1px solid $border-color;
  
      .events {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(7, 1fr);
        position: relative;
      }
    }
  
    .event-box {
      position: absolute;
    }
  }
}
